table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-spacing: 0px;
  background-color: silver;
}

input[type='button'] {
  width: 100%;
  padding: 20px 40px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

input[type='text'] {
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

#displayInput {
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  width: 23rem;
  background-color: #858694;
  text-align: right;
}

.diffColor {
  background-color: #f5913e;
}

.silverColor {
  background-color: #e0e0e0;
}

#displayInput::placeholder {
  color: white;
}
